target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
nbbuild/
nbdist/
.nb-gradle/

### Custom ###
.DS_Store
node_modules/
logs/
*.log
/out/
/lib/projectx-config/
/simplifiedchinese/src/main/java/com/spiralstudio/mod/simplifiedchinese/Test.java
